@import "tailwindcss";

@theme {
    --color-mid-blue: #5B9AC0;
    --color-light-blue: #C3E4EB;
}

@font-face {
  font-family: 'antipasto';
  src: url('/fonts/Antipasto_regular.otf');
 }

body {
 font-family: 'antipasto';
}